# Checks: 'modernize*,-modernize-use-trailing-return-type'
# Checks: '*'
Checks: '*,-llvmlibc-*,-fuchsia-*,-altera-*,-hicpp-no-array-decay,-hicpp-explicit-conversions,-hicpp-special-member-functions,-readability-identifier-length,-modernize-use-trailing-return-type, -readability-magic-numbers'
FormatStyle: file
HeaderFilterRegex: 'mobility-separator-embedded/(include|lib|src|test)/.*\.(h|hpp)$'

# The following does not work
# ExtraArgs:
#   - '-isystem'
#   - '/home/rh/.platformio/packages/toolchain-gccarmnoneeabi/arm-none-eabi/include'
